* {
    margin:0;
    padding:0;

}
.body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
   display: grid;
}

.me-2{
    margin-right: .5rem!important;
    margin-left: 80px;
    margin-top: 20px;
}

.button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    text-align: right;
    text-decoration: none;

    
}


#header {
    height: 10vh;
    display: flex;
width: 100%;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
}

.header-esquerda {
    background-color: rgb(1, 1, 1);
 
}

.header-direita {
    background-color: rgb(1, 1, 1);
    min-height: 100%;
    align-self: right;
    flex-grow: 1;
    margin-right: 0;
}

.buttonPesquisar {
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    text-decoration: none;
 
}
#hover1
{
    border: 1px solid black;

}
.input {
    background-color: white;
    width: 60%;
    padding: 8px;
    margin-top: 8px;
    border-radius: 10px;
    
}

#imagem {
    width:50%;
    height:60px;
    margin-top: 0px;
    margin-left: 30px;

  
}

#h4 {
    color: yellow;
    margin-left: 70%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    }




#imagem-mascote {
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-left:100px;
    margin-bottom: 0px;

}

#div-mascote {
    display: flex;
    justify-items: center;
    width: 100%;
    background-color: rgb(255, 196, 0);

}


.py-3{
padding-top: 1rem!important;
padding-bottom: 1rem!important;
background-color: black;
width:100%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-decoration: none;
} 

.my-4 {
    margin-top: 1.5rem!important;
    background-color: rgb(0, 0, 0);
    width:100%;
    text-decoration: none;
}

footer {
    display: block;
}

.nav {

    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #000000;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

dl, ol, ul {
    margin-top: 0;
  
}


ul {
    display: block;
    list-style-type: disc;
  margin-top: 10px;
    padding-inline-start: 40px;
    background-color: #000000;

}


.justify-content-center {
    justify-content: center!important;
}

.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}

.container {
    
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    display: blocks;
    background-color: #000000;
}

.nav-item {
    margin: 20px;
    color: white;
    text-decoration: none;
    
}
.h1 {
    height: 300px;
    margin-left: 30%;
    width: 400px;
    margin-top: 180px;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.buttonCadastre-se {
    height: 30px;
    width: 130px;
    margin-top: 280px;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: black;
    --bs-btn-bg: white;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family:Arial, Helvetica, sans-serif;
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
     -ms-text-combine-horizontal: all;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   border: #000 solid 3px;
}

#section {
    display: block;
}

.buttonlogin:hover, .buttonCadastre-se:hover {
    background-color:rgb(247, 171, 29);

}

.href-link {
    color: #000;
}
.buttonlogin {
    height: 30px;
    margin-top: 280px;
    width: 110px;
    margin-left: 20px;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: black;
    --bs-btn-bg: white;
    --bs-btn-border-width: 3px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
     -ms-text-combine-horizontal: all;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family:Arial, Helvetica, sans-serif;
    border:  2px solid black;
    text-decoration: none;
}

.aside {
    display: flex;
    justify-items: center;
    width: 100%;
    
}


.ul-class1 {
    justify-self: center;
    margin: 20px;
    background-color: yellow;
}

#li-menu {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
}

    .li a {
        background: yellow;
        color: #000; 
        text-decoration: none; 
       
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.text-small {
    font-size: 85%;
}
   
.text-end {
    text-align: right!important;
}

::after {
    box-sizing: border-box;
}



.dropbtn {
    background-color: yellow;
    color: black;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
        font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  .dropbtn:hover, .dropbtn:focus, .dropdown:hover {
    background-color:rgba(255, 217, 0, 0.978);
  }
  
  
  .dropdown {
    position: relative;
    margin-left: 0;
    border: 1px solid black;
    background-color: yellow;
  }
  
  .dropdown-content {
    display: none;
    position: left;
    background-color: yellow;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #000;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {
    background-color:rgb(248, 178, 49);
}
  
.show {
    display:block;
}

.pp {
    margin-left: 10px;
    color: azure;
}

#section2 {
    margin-top: 40px;
    display: grid;
    justify-items: center;
    margin-bottom: 40px;
}

.item-1 {
    grid-row: 1/1;
    grid-column: 1/1;
    margin-top: 20px;
    margin-bottom: 20px;
width: 390px;
}

.item-2 {
    grid-row: 1/1;
    grid-column: 2/2;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item-3 {
    grid-row: 1/1;
    grid-column: 3/3;
    margin-top: 20px;
    margin-bottom: 20px;
}

#colmeia2 {
    height: 300px;
    width: 250px;
    padding: 10px; 
    background-color: green;
    border-radius: 30px;
}
#comunicando {
    height: 300px;
    width: 400px;
    padding: 10px;
    background-color:  orange;
    border-radius: 30px;
}
#dinheiro {
    height: 200px;
    width: 150px;
    margin-left: 40px;
    padding-left: 60px;
    padding-right: 80px;
    padding-top: 70px;
    background-color: green;
    border-radius: 30px;
    padding-bottom: 60px;
}

.h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-self: center;
    width: 70%;
    margin-left: 8px;
}
.nav-link {
    color: white;

}
.ul {
    display: block;
}
html, body {
    height: 100%;
    overflow-x: hidden;

}
